In [1]:
print('''Twinkle, twinkle, little star,
        How I wonder what you are!
                Up above the world so high,
                Like a diamond in the sky.
        Twinkle, twinkle, little star,
            How I wonder what you are''')

Twinkle, twinkle, little star,
        How I wonder what you are!
                Up above the world so high,
                Like a diamond in the sky.
        Twinkle, twinkle, little star,
            How I wonder what you are

In [2]:
import sys
print(sys.version)

3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]

In [3]:
from datetime import datetime
print(datetime.now())

2024-08-06 22:01:23.363120

In [4]:
radius=int(input("enter the value of radius of circle"))
area = 3.14*radius**2
print("the area of circle is:", area)

enter the value of radius of circle 2

the area of circle is: 12.56

In [5]:
fn=str(input("enter first name"))
ln=str(input("enter last name"))
print(fn[::-1], ln[::-1])

enter first name 2
enter last name 3

2 3

In [6]:
a=float(input("enter first number"))
b=float(input("enter second number"))
c=a+b
print(c)

enter first number 3
enter second number 2

5.0

In [7]:
a=float(input("enter first subject's marks"))
b=float(input("enter second subject's marks"))
c=float(input("enter third subject's marks"))
d=float(input("enter fourth subject's marks"))
e=float(input("enter fivth subject's marks"))
sum=a+b+c+d+e
avg=sum/5
if avg>=90:
    print("your grade is A+")
elif avg>= 80:
    print("your grade is A")
elif avg>= 70:
    print("your grade is B")
elif avg>= 60:
    print("your grade is C")
else:
    print("your grade is F")

enter first subject's marks 77
enter second subject's marks 88
enter third subject's marks 77
enter fourth subject's marks 88
enter fivth subject's marks 80

your grade is A

In [8]:
a=int(input("enter a whole number:"))
if a%2==0:
    print("given number is even")
elif a%2==1:
    print("number is odd")
else:
    print("number is not whole number")

enter a whole number: 3

number is odd

In [9]:
goocery=["mangos","banana","apple","peach"]
print(len(goocery))

4

In [10]:
my_list = [1, 2, 3, 4, 5]
total_sum = 0
for item in my_list:
    total_sum += item
print(total_sum)

15

In [54]:
my_list = [1, 2, 3, 4, 5]
print(max(my_list))

5

In [55]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

for item in a:
    if item < 5:
        print(item)

1
1
2
3